# IMPORTING  **DATASET**

In [ ]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
print("Sample data:")
print(df.head())

Sample data:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

In [ ]:
from sklearn.datasets import load_iris

iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['target'] = iris.target
print("Sample data:")
print(df.head())

Sample data:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target
0       0
1       0
2       0
3       0
4       0

In [ ]:
file_path = '/content/data.csv'
df = pd.read_csv(file_path)
print("Sample data:")
print(df.head())

Sample data:
   ID     Name  Age         City
0   1    Alice   25     New York
1   2      Bob   30  Los Angeles
2   3  Charlie   35      Chicago
3   4    David   40      Houston
4   5      Eva   28      Phoenix

In [ ]:
df = pd.read_csv('/content/Dataset of Diabetes .csv')
print("Sample data:")
print(df.head())

Sample data:
    ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0  502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1  735      34221      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2  420      47975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3  680      87656      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4  504      34223      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4

    BMI CLASS
0  24.0     N
1  23.0     N
2  24.0     N
3  24.0     N
4  21.0     N

# **EXPORTING DATASET**

In [ ]:
#Load data from a CSV file into a Pandas DataFrame
import pandas as pd
df=pd.read_csv("/content/data.csv")
print(df.head())

   ID     Name  Age         City
0   1    Alice   25     New York
1   2      Bob   30  Los Angeles
2   3  Charlie   35      Chicago
3   4    David   40      Houston
4   5      Eva   28      Phoenix

In [ ]:
#Export a DataFrame back to a CSV file, use the df.to_csv() function:
df.to_csv("/content/data.csv",index=False)
print("Data saved to CSV file")

Data saved to CSV file

In [ ]:
sales_df=pd.read_csv("/content/sample_sales_data.csv")
print("first few")
print(sales_df.head())

first few
    Product  Quantity  Price  Sales Region
0    Laptop         5   1000   5000  North
1     Mouse        15     20    300   West
2  Keyboard        10     50    500   East
3   Monitor         8    200   1600  South
4    Laptop        12    950  11400  North

In [ ]:
# Summarizing sales by Region
sales_by_region=sales_df.groupby("Region")["Sales"].sum()
print(sales_by_region)

Region
East       770
North    16400
South     3070
West       650
Name: Sales, dtype: int64

In [ ]:
# Identify the best saling product:
best=sales_df.groupby("Product")["Quantity"].sum().sort_values(ascending=False)
print(best)

Product
Mouse       29
Laptop      17
Keyboard    16
Monitor     15
Name: Quantity, dtype: int64